.background {
    -fx-background-color: #E5E5E5;
}

.root{
	-fx-background-color: #4B6164;
}
.button 
{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #E5E5E5;
    -fx-background-color: #D76B4F；
    -fx-border-style: solid inside;   
    -fx-border-color: #E5E5E5; 

}
 
.label
{
    -fx-font-family: "arial";
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-text-fill: #E5E5E5;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "arial";
}

.table-view {
	-fx-text-fill: #E5E5E5;
    -fx-base: #638FA9;
    -fx-control-inner-background: #638FA9;
    -fx-background-color: #638FA9;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}